[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
sodapy = "*"
jupyter = "*"
azure-storage-file-datalake = "*"
tqdm = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
